.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
}

.card {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 300px;
    margin: 20px;
    box-shadow: 2px 2px 5px #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

.search {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #CCCCCC;
}

.search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #CCCCCC;
}

.search button {
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}